@import "tailwindcss";

@theme{
  --color-main: #FD7979;
  --color-medium: #f7bcbc;
  --color-light: #FEEAC9;
  --color-dark: #a15f50;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background: var(--color-light);
}

.spinAnimation{
  animation: spinning 10s linear infinite ;
}

@keyframes spinning {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* Move pagination lower */
.swiper-pagination {
  position: relative !important;
  margin-top: 32px !important;
  bottom: -20px !important;
}

/* Pagination bullets */
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--color-main) !important;
  opacity: 1 !important;
  border-radius: 9999px !important;
  transition: all 0.3s ease !important;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  width: 24px !important;
  background-color: var(--color-dark) !important;
}
