@import "tailwindcss";

@theme{
  --color-main: #FD7979;
  --color-medium: #f7bcbc;
  --color-light: #FEEAC9;
  --color-dark: #a15f50;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background: var(--color-light);
}

.spinAnimation{
  animation: spinning 10s linear infinite ;
}

@keyframes spinning {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}